@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Josefin+Sans:wght@100;400;500;600;700&family=Kablammo&family=Metal+Mania&family=Montserrat:wght@400;500;600&family=Open+Sans:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&family=Poppins:wght@300;400;500;600;700;900&family=Prata&family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,700&family=Roboto:wght@400;700&family=Rubik+Pixels&display=swap');

:root{
       --primary-color:#000000;
       --secondary-color:#001F3F;
       --third-color:#FFD700;
       --white-color:#ffffff;

       --primary-font:'Montserrat', sans-serif;
       --second-font:'Prata', serif;

       --shadow: 0px 10px 20px 0px rgb(0 0 0 /20%);
}

html{
       scroll-behavior: smooth;
       overflow-x: hidden;
}
*{
       margin: 0;
       padding: 0;
}
*,::before,::after{
       box-sizing: border-box;
}
body{
       font-family: var(--primary-font);
       font-size: 16px;
       font-weight: 400;
       line-height: 1.8;
       color: var(--white-color);
       background-color: var(--primary-color);
}
a{
       text-decoration: none;
       color: inherit;
       -webkit-tap-highlight-color: transparent;
}
img{
       max-width: 100%;
       vertical-align: middle;
}
ul{
       list-style: none;
}
p{margin: 0 0 15px;}
input,textarea,select{font: inherit; width: 100%;}
input::placeholder, textarea::placeholder{color: inherit;}
button{font: inherit;}
strong{font-weight: var(--fw600);}

h1,h2,h3,h4{
       font-family: var(--second-font);
       font-weight: 400;
       line-height: normal;
}
h1{font-size: 2.75em;}
h2{font-size:2.5em}
h3{font-size:2em}
h4{font-size: 1em;}
nav{
       display: grid;
       grid-template-columns: auto auto auto;
       align-items: center;
       justify-content:space-around;
       padding: 10px;
}
.logo{
       width: 120px;
}
.menu ul{
       display: flex;
       justify-content:space-around;
       align-items: center;
       flex-wrap: wrap;
       gap: 20px;
}
.language-box {
       position: relative;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 3px;
       background-color: var(--third-color);
       border-radius: 5px;
       cursor: pointer;
       transition: 0.2s ease-in-out;
       width: 70px;
       font-size: 10px;
       font-weight: bold;
     }
     
     .language-box span {
       color: var(--primary-color);
     }
     
     .language-list {
       color: var(--primary-color);
       list-style: none;
       padding: 0;
       margin: 0;
       position: absolute;
       top: 100%; /* Position list below the box initially */
       left: 0;
       width: 100%;
       background-color: var(--white-color);
       box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
       opacity: 0; /* Hide the list initially */
       transition: opacity 0.2s ease-in-out;
       border-radius: 10px;
     }
     
     .language-list li {
       padding: 5px 10px;
     }
     .language-list li:hover {
       background-color: var(--third-color);
       color: var(--white-color);
       border-radius: 10px;
     }
     
     .language-box:hover .language-list {
       opacity: 1; /* Show the list on hover */
     }
     
